body{

background: linear-gradient(to right, brown , rgba(165, 42, 42, 0.286))

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    color: white;
    text-align: center;
    border-style: dashed;
    border-width: 15px;
    padding-top: 150px;
    padding-bottom: 150px;
}

#p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    border-style: dashed;
    padding: 20px;
}

#p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    border-style: dashed;
    padding: 20px;
}

#p3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    border-style: dashed;
    padding: 20px;
}

#p4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
}

#p5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    border-style: dashed;
    padding: 20px;
}

#p6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
}


#img1 {


    margin-left: auto;
    margin-right: auto;


}


li{


font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
    
}


#video {
    margin-left: 23%;
    margin-right: auto;
}

