body{


background: linear-gradient(black, rgb(117, 117, 117), black);


}

h1{

font-family: Helvetica, arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;

}


#img1{

display: block;
margin-left: auto;
margin-right: auto;

}

ol{


font-family: Helvetica, arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;


}

#p1{


font-family: Helvetica, arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;


}

#p2{


font-family: Helvetica, arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;


}

#p3{


font-family: Helvetica, arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;


}

#p4{


font-family: Helvetica, arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;


}

li{


    font-size: 30px;
    text-align: left;
    color: white;
    margin-right: 30%


}